body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:77px;
}
#u8 {
  position:absolute;
  left:0px;
  top:633px;
  width:299px;
  height:77px;
  font-size:15px;
  text-align:left;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:295px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:610px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:610px;
}
#u11 {
  position:absolute;
  left:2px;
  top:297px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
